@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-image: url("../images/double-bubble.png");
    background-position: center;
    background-size: auto;
}

header ul {
    list-style-type: none;
    height: 50px;
    width: auto;
    background-color: rgb(66, 66, 66);
}

#navbar {
    display: inline-flexbox;
    position: fixed;
    width: 100%;
}

header ul li{
    list-style-type: none;
    height: 50px;
    width: 120px;
    text-align: center;
    float:left;
    color: white;
}

header ul li a{
    color: white;
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
}


header ul li:hover{
    background-color: rgb(0, 0, 0);
}

header ul li a:hover{
    color: blue;
}


.active{
    background-color: rgb(255, 174, 0);
}

header ul #about{
    float: right;
}

#main_content{
    margin: 15px auto;
    max-width: 600px;
}

h1 {
    text-align: center;
}

img {
    margin: 10px 0;
    width: 100%;
}

p {
    background: rgba(255, 255, 255, 0.705);
    display:inline-block;
    box-shadow: teal;

    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

    margin: 20px 0;
    padding: 5px 10px;
}

h2 {
    margin-top: 20px;
}

.form-group {
    display: block;
    width: 100%;
    text-align: center;
    min-width: 20vh;
}

.myButton {
	box-shadow:inset 0px -3px 7px 0px #29bbff;
	background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
	background-color:#2dabf9;
	border-radius:3px;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:9px 23px;
	text-decoration:none;
    text-shadow:0px 1px 0px #263666;
    padding: 1px 3px;
    font-size: 15px;
}
.myButton:hover {
	background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
	background-color:#0688fa;
}
.myButton:active {
	position:relative;
	top:1px;
}